/* CSS GLOBAL Comunidade Velez */

body {
  padding: 4rem;
  background: #f2f2f2 URL("https://cuerosvelezco.vtexassets.com/arquivos/web-to-case-desktop.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.logo-custom {
  width: 100%;
  height: 120px;
  background: transparent url("https://cuerosvelez--solucti--c.sandbox.vf.force.com/resource/1753907937000/logoPng") no-repeat center;
  background-size: cover;
}
